node_modules/
dist/
.expo/
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.expo-shared/
apps/mobile/.expo/
apps/mobile/.expo-shared/
apps/mobile/android/
apps/mobile/ios/
infra/firebase/functions/lib/

# Xcode
DerivedData/
xcuserdata/
